.loginBox {
    padding: 30px;
    padding-bottom: 90px;
    margin: 20px;
    margin-top: 50px;
    background-color: #769eda;
    color: #e4d02e;
    width: 35%;
    border-radius: 10px;
    font-family: 'Bubblegum Sans', cursive;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media (max-width:700px) {
    .loginBox {
        width: 75%;
    }
}
@media (max-width:400px) {
    .loginBox {
        font-size: 550% !important;
    }
}

.loginBelowPhrase {
    margin-top: 50px;
    margin-left: -10px !important;
    margin-bottom: 40px !important;
}

.loginBtn {
    background-color: #e4d02e !important;
    color: gray !important;
    width: 100px;
}

.loginBtn:hover {
    color: #e4d02e !important;
    background: gray !important;
}

.register, .backhome {
    color: lightgray !important;
}

p.logInptag, .backhome {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.backhome {
    float: right;
}

div.logInbuttonDiv {
    margin-top: 20px;
    text-align: center;
}
