.loginBox {
    padding: 40px;
    margin: 20px;
    background-color: #769eda;
    color: #e4d02e;
    width: 300px;
    border-radius: 10px;
    font-family: 'Bubblegum Sans', cursive;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
