.signUpBox {
    padding: 20px;
    margin: 30px;
    background-color: #e5d02e;
    color: #e06161;
    width: 300px;
    border-radius: 10px;
    font-family: 'Bubblegum Sans', cursive;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.txtLogIn {
    font-size: 15px;
}