.font {
    font-family: 'Bubblegum Sans', cursive;
}

body {
    background-color: rgb(228, 222, 160);
    background-image: url('http://stripedbgs.com/create76444b3.png?c1=af1313&c2=e06161&c3=769eda&c4=6b77e1&c5=e4d02e&res=800x480');
}



/* Set up for mobile responsive-ness */
img { max-width: 100%; height: auto; }
html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}