h1.learnerh1 {
    font-family: 'Bubblegum Sans', cursive;
    background-image: linear-gradient(to right top, #e06161, #e06486, #d36fa8, #bc7ec3, #9e8dd4, #7a9ee5, #4cadeb, #00bae6, #00cbd1, #04d6a0, #8cd962, #e4d02e);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 3%;
    color: #e3d02e;
}

div.learnerGradeDiv {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #6b77e1;
    border-radius: 20px;
    padding: 5%;
    margin-top: 7%;
}

h2.learnh2 {
    font-family: 'Bubblegum Sans', cursive;
    color: #e3d02e;
}

div.learnerAssignBox {
    margin-left: 2%;
}

.assignComment {
    margin-left: 10%;
    margin-right: auto;
    font-style: italic;
    padding-left: 1%;
    padding-right: 1%;
}

h1.lessonHeadh1 {
    font-family: 'Bubblegum Sans', cursive;
    color: #e06161;
    background-color: #e4d02e;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 5%;
    margin-bottom: 5%;
    border: solid 1px #e06161
}

.LearnerProgBar {
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    margin-top: 8%;
    margin-bottom: 8%;
    background-color: #e06161;
    border-radius: 10px;
}

.lessonsMainDiv {
    width: 80%;
    margin: 10px;
    margin-bottom: 10%;
}

.lessonPlanRow {
    margin-left: 30px;
    padding-left: 30px;
}

.lessonCard { 
    width: 80%;
    margin: 6px 2px;
    background-color: #dcc5c5 !important; 
}

img.learnerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35% !important;
}

h2.progBarh2 {
    font-family: 'Bubblegum Sans', cursive;
    color: #e4d02e;
}

img.lessonModalIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
}

.lessonCardName {
    font-family: 'Bubblegum Sans', cursive;
}

.modalCloseBtn {
    background-color: #6b77e1 !important;
}

.lessonViewBtn {
    background-color: #e06161 !important;
    color: white !important;
    border: none !important;
}

.lessonViewBtn:hover {
    color: black !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.lessonRssLink {
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none !important;
    background-color: #769eda !important;
    border: none !important;
    border-radius: 6px;
    color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.lessonRssLink:hover {
    color: black !important;
}

.submitWorkDiv {
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 10%;
    padding: 20px;
    background-color: #6b77e1;
    border-radius: 10px;
}

h1.submitWorkh1 {
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    color: #e06161;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
}

.submitWorkBtn {
    margin: 0 auto;
    background-color: #e06161 !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.submitWorkBtn:hover {
    color: black !important;
}

.gradeOnLearnerDash, .h3totalGPA {
    font-family: 'Bubblegum Sans', cursive;
    color: #e3d02e;
}

.learnerStoryContainer {
    margin-top: 5%;
}

div.learnerStory {
    text-indent: 5%;
    margin: 0 auto;
    padding: 10%;
    background-color: #769eda;
    border-radius: 8px;
    width: 90%;
    margin-bottom: 5%;
}

.learnerStoryIcon {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width:400px) {
    .learnerStoryContainer {
        font-size: 400% !important;
    }
}

