h1.learnerh1 {
    font-family: 'Bubblegum Sans', cursive;
}

h1.lessonHeadh1 {
    padding: 10px;
    font-family: 'Bubblegum Sans', cursive;
    color: #e06161;
}

.LearnerProgBar {
    width: 70%;
    margin-top: 10px;
}

.lessonsMainDiv {
    width: 80%;
    margin: 10px;
}

.lessonCard { 
    width: 80%;
    margin: 6px 2px;
    background-color: #dcc5c5 !important; 
}

.learnerAssignBox {
    background-color: #769eda;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: dotted 2px white;

}

.gradedHeader {
    margin-top: 10px;
}

.lessonBtn {
    background-color: #e4d02e !important;
    color: black !important;
}

.assignComment {
    margin-left: 20px;
}