div.graderPageBox {
    font-family: 'Bubblegum Sans', cursive;
}

h1.graderh1 {
    background-color: #769eda;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 10px;
    color: #e3d02e;
}

.graderMiniBox {
    background-color: #e06161;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px 50px;

}

.graderListBox {
    margin-top: 35px;
    font-family: 'Bubblegum Sans', cursive;
}


h1.gListh1 {
    background-color: #769eda;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    border-radius: 30px;
    padding: 5px;
    color: #e3d02e;
}

img.graderIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gradeThisBtn {
    float: right;
    color: #e4d02e !important;
}

.gradeListItem {
    background-color: transparent !important;
    margin: 0 auto;
    border: none !important;
}

.gradeCardMain {
    width: 100%;
    border: none !important;
    display: flex;
    justify-content: center;
}

.gradeCardBody {
    background-color: rgb(232, 230, 211);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.gradeCardHead {
    background-color:#769eda !important;
    color: #e4d02e;
}

.gradeCardFoot {
    background-color:#769eda !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


