.logInBtn, .registerBtn {
    background-color: #e06161 !important;
    width: 160px !important;
    height: 120px !important;
    margin: 10px 50px !important;
    padding: 20px !important;
    border-radius: 10px !important;
    border: solid 1px #e4d02e !important;
    font-family: 'Bubblegum Sans', cursive !important;
    color: #e4d02e !important;
    font-size: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    transition: 0.3s !important;
}

.logInBtn:hover, .registerBtn:hover {
    background-color: #e4d02e !important;
    color: white !important;
}


.jumboBanner {
    margin-top: 5px !important;
    background-color: #6b77e1 !important;
    color: #e4d02e !important;
    font-family: 'Bubblegum Sans', cursive;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.toRouteBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h5style {
    padding-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}