.logInBtn, .registerBtn {
    background-color: #e06161 !important;
    width: 160px !important;
    height: 120px !important;
    margin: 10px 30px !important;
    padding: 20px !important;
    border-radius: 10px !important;
    border: solid 1px #e4d02e !important;
    font-family: 'Bubblegum Sans', cursive;
    color: #e4d02e !important;
    font-size: 30px !important;
}


.jumboBanner {
    margin-top: 5px !important;
    background-color: #6b77e1 !important;
    color: #e4d02e !important;
    font-family: 'Bubblegum Sans', cursive;
    border: double 8px #af1313 !important;
}


.toRouteBtns {
    padding: 10px;
}