.btn {
    background-color: #e4d02e !important;
    width: 160px !important;
    height: 120px !important;
    margin: 10px 30px !important;
    padding: 20px !important;
    border-radius: 10px !important;
    border: none !important;
    font-family: 'Bubblegum Sans', cursive;
    color: #6b77e1 !important;
}
